$text-primary:#fff ;
$primary-color: #fc0142;
$secondary-color: #9A19FF;
$tertiary-color:#C4F9FF ;

@mixin gradient($primary-color,$secondary-color, $tertiary-color ) {
    background: $primary-color;  
      background: -webkit-linear-gradient(to right , $primary-color, $secondary-color); 
      background: linear-gradient(to right , $primary-color, $secondary-color,);
      opacity:0.8;
  }

  
%underline-shared {
    display: inline;
     position: relative;
     overflow: hidden;
   
     &:after{
       content: "";
       position: absolute;
       z-index: -1;
       left: 0;
       right: 100%;
       bottom: 0px;
        
       transition-property: left right;
       transition-duration: 0.3s;
       transition-timing-function: ease-out;
     }
     &:hover:after,
     &:focus:after,
     &:active:after {
     right: 0;
   }
   
   
   }


   %line-break{
    display: inline;
    position: relative;
    overflow: hidden;
  
    &:after{
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      height: 3px;
      right: 0;
      bottom: -4px;
       color: black;
      transition-property: left right;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
   
   }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
  }
.home-container{
    margin: 70px;
    height:80vh;
}

.titleWrapper {
    display: flex ;
    justify-content: center ; 
    flex-direction: column;
    h2{
        font-size:100px;
        margin-block-end: 1rem;
    }
    & .title  {  
        font-family: Work Sans;
    display:inline-block;
    @include gradient($primary-color, $secondary-color,  $tertiary-color);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
  }

.intro-line {
    color: #6888df;
}
.caption{
    font-size: 35px;
    & span{
        font-family: Work Sans;
       color: #B75492;
    }
}

.tag-line{
    font-family: monospace;
    font-size:15px;
}

.gradAnchor{
    text-decoration: none !important;
    height: 40px !important;
	line-height: 40px !important;
	font-size: 16px !important;
	letter-spacing: 1px;
	margin: 25px 0;
	padding: 0 30px !important;
	color: #fff !important;
	border: none !important;
   box-shadow: none;
   border-radius: 7px;
   @include gradient($primary-color, $secondary-color,  $tertiary-color);
}

.section-title{
    font-family: Work Sans;
    display:inline-block;
    @include gradient($primary-color, $secondary-color,  $tertiary-color);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity:0.9;
    font-size: 70px;
}

.content-wrapper{
    text-align: center;
    padding: 40px 110px;
    color: #4e4c4c;
    & a{
         color:  #4e4c4c;
        text-decoration: underline;
        // @extend %underline-shared;
        &:hover{
            @include gradient($primary-color, $secondary-color,  $tertiary-color);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        }
    }
}

.details{
    text-align: start;
    width: 45%;
    & h3{
        @extend %underline-shared;
        &:after{
            @include gradient($primary-color, $secondary-color,  $tertiary-color); 
            height: 2px;
          }
    }
    & .text-tertiary{
        color:#85878c;
        font-weight: bold;
    }
}


.template-item{
    display: flex;
    justify-content: space-between;
}
.btnWrapper{
    display: flex;
    justify-content: space-between;
    width: 15rem;
       & a{
           margin: 0rem;
        color: #6888df;
        text-decoration: none;
        font-weight: 550;
        &:hover{            
        color: #6888df !important;
        }
       }    
}

.image-portfolio{
    width: 45%;
    & img{
        padding: 0.1rem;
        background-color: #4e4c4c ;
        border-radius: 0.3rem;
    }
}

.template-blog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
}
.image-blog{
    width: 100%;
   & img {
        padding: 0.1rem;      
        background-color: #4e4c4c ; 
   }
}

section.template-item:nth-child(2n) {
    flex-direction: row-reverse;
}


.blog-detail{
    width:100%;
    padding: 1rem 0rem;
    & .text-tertiary{
        color:#85878c;
    }
    & .date{        
        color: #6888df;
    }
}
.blog-content-wrapper{
    text-align: left;
    padding: 40px 110px;
    color: #4e4c4c;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    & a{
         color:  #4e4c4c;
        text-decoration: none;
       font-size: 1.3rem;
       font-weight: bold;
       line-height: 30px;
       //@extend %line-break;      
        text-align: start;
        // &:after{
        //     @include gradient($primary-color, $secondary-color,  $tertiary-color); 
        //     height: 3px;
        //     opacity: 0.7;
        // }
        // &:hover{
        //     @include gradient($primary-color, $secondary-color,  $tertiary-color);   
        //     -webkit-background-clip: text;
        //     -webkit-text-fill-color: transparent;
        // }
    }
    & p{
        text-align: left;
        left: 10px;
        bottom: 168px;
    }
}
