$primary-color: #fc0142;
$secondary-color: #9A19FF;
$tertiary-color:#C6FFDD ;

@mixin gradient($primary-color,$secondary-color, $tertiary-color ) {
    background: $primary-color;  
      background: -webkit-linear-gradient(to right , $primary-color, $secondary-color); 
      background: linear-gradient(to right , $primary-color, $secondary-color);
}


  .navContainer{
    display: flex;
    position: fixed;
    top:0;
	width: 100%;
	justify-content: space-between;
	padding: 8px 44px;
	align-items: center;
	z-index: 99;
	transition: height .25s;

    img{
        margin-bottom: 0px;
    }

    & .navbar-links{
       
        align-self: center;

        a {
            margin: 0 10px;
            position: relative;            
            color: #6888df;
            text-decoration: none;
            text-transform: uppercase;
            &:before {
                content: "";
                position: absolute;
                width: 36px;
                height: 36px;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%) scale(0);
                border-radius: 50%;
                opacity: 0.2;
                transition: transform 0.25s;
                background: red;
            }

            &.active:before,
            &:focus:before,
            &:hover:before {
                transform: translate(-50%,-50%) scale(1);
            }

            span {
                position: relative;
                z-index: 2;
            }
        }
    } 

    &.scrolled{
        top: 0;
        left: 0;
        background: #fff;
        width: 100%;
        z-index:99;
        padding:0px 0px;
    
         &:after{
            content: "";
            position: absolute;
            z-index: -1;
            @include gradient($primary-color, $secondary-color,  $tertiary-color);
            height: 3px;
            top:90%;
            width:100%;
            opacity:.4;
        }
       }
}

body{
    font-family:sans-serif;
    // background: linear-gradient(120deg, #fc0142, #9A19FF);
    // opacity: 0.7;
}

.display-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}